// compress: true
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
//@import "vars";
html {
    height: 100%;
    font-size: 15px;
}
body {
    height: 100%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    //color: @gray;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
:root {
    --bg-color: white;
    --text-color: black;
  }
  
  .dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  

/* Blocks */
@import "beka/signin";
@import "beka/side_bar";
@import "beka/notifications";
@import "beka/home";
@import "beka/search_bar";
@import "beka/assistant_buttons";
@import "beka/header";
@import "beka/navigation_bar";
@import "beka/books";
@import "beka/content";
@import "beka/about";
@import "beka/usersbook";
@import "beka/theme";